<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageDays" value="10"/>
        <add key="StorageSortingIntervalMinutes" value="10"/>
        <add key="StorageXML" value="true"/>
        <add key="StorageСollage" value="false"/>
        <add key="StorageVideo" value="false"/>
        <add key="RestartingServices" value="true"/>
        <add key="ServiceRestartIntervalHours" value="24"/>
    </appSettings>
</configuration>