<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageDays" value="10"/>
        <add key="StorageSortingIntervalMinutes" value="20"/>
        <add key="StorageXML" value="true"/>
        <add key="StorageСollage" value="false"/>
        <add key="StorageVideo" value="false"/>
        <add key="RestartingServices" value="true"/>
        <add key="ServiceRestartIntervalHours" value="6"/>
		<add key="SourceFolderPr" value="D:\Duplo"/>
		<add key="SortingFolderPr" value="D:\!Duplo"/>
		<add key="SourceFolderSc" value="D:\Doris"/>
		<add key="SortingFolderSc" value="D:\!Doris"/>
    </appSettings>
</configuration>